.text-left {
  /**
   * So that text-left will always have text on left.
   *  No matter what!
   */
  text-align: left !important;
}

.nb-mg0 {
  margin-top: 0;
  margin-bottom: 0;
}

.nb-smh1 {
  font-size: 20px;
}

.nb-smh2 {
  font-size: 16px;
}
